<!DOCTYPE html>
<html lang="en" class="text-black">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "title.html" %}
    {% include "description.html" %}
    {% include "sharing-image.html" %}
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="icon" href="/assets/images/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-favicon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/assets/css/main.css?v=CSS_BUST">
    <link rel="alternate" href="/blog/feed/index.xml" type="application/rss+xml" title="RSS Feed">
    <link rel="alternate" href="/blog/feed/atom/index.xml" type="application/atom+xml" title="Atom Feed">
    <script src="/assets/lib/gsap@3.12.5/gsap.min.js?v=JS_BUST"></script>
    <script src="/assets/lib/swup@4.7.0/Swup.umd.js?v=JS_BUST"></script>
    <script src="/assets/lib/swup-head-plugin@2.2.0/index.umd.js?v=JS_BUST"></script>
    {% include "custom-css.html" %}
  </head>
  <body class="bg-white font-sans font-normal">
    {% include "header.html" %}
    <div id="swup" class="transition-main">
      <main class="{{- type }} {{ slug -}}">
        {{ content }}
      </main>
      {% include "footer.html" %}
    </div>
    <script src="/assets/javascripts/main.js?js-cache-buster=1"></script>
    {% include "custom-scripts.html" %}
  </body>
</html>
