---
layout: sectioned-page
custom-css: ['blog']
---
<section class="_posts">
  <div class="sleeve">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        {% include author.html author=page.author guest-author=page.guest-author %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% include tags.html tags=page.tags categories=page.categories %}

    </article> <!-- end article -->

  </div>
</section>
