---
layout: sectioned-page
custom-css: ['blog']
---
<section class="_posts">
  <div class="sleeve">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        {% if page.author %}
          {% assign person_record = site.data.people[page.author] %}
          <p class="post-author">Posted by <a href="{{ site.baseurl }}/about/#{{person_record.name | slugify }}">{{ person_record.name }}</a></p>
        {% elsif page.guest-author %}
          <p class="post-author">Posted by {{page.guest-author}}</p>
        {% endif %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% include tags.html tags=page.tags categories=page.categories %}

    </article> <!-- end article -->

  </div>
</section>
