---
layout: default
---

<section class="container">
  <div class="page-hero">
    <nav aria-label="breadcrumbs" class="page-hero__eyebrow">
      <a href="{{ site.baseurl }}/our-work/" class="interactive-link dark">Our Work > {{ page.category }}</a>
    </nav>
    <h1 class="page-hero__title">{{ page.title }}</h1>
    <h2 class="page-hero__subtitle">{{page.what_does_it_do}}</h2>
  </div>
</section>

<div class="flex flex-col gap-40 md:gap-80 items-start pb-50 md:pb-100">

  <section class="container flex flex-col gap-120">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-24 md:gap-40">
      <h2 class="h2">Where can I find {{page.title}}?</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-32 pt-20 max-w-[700px]">
        {% if page.project_website %}
          {% include arrow-link.html label=page.project_website href=page.project_website target="_blank" %}
        {% endif %}
        {% if page.github_repo %}
          {% include arrow-link.html label="GitHub" href=page.github_repo target="_blank" %}
        {% endif %}
      </div>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-3 gap-24 md:gap-40">
      <h2 class="h2">What does {{page.title}} do?</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-32 pt-20 max-w-[700px]">
        {{ page.what_does_it_do | markdownify }}
      </div>
    </div>
    {% if page.why_does_it_exist %}
      <div class="flex flex-col md:grid md:grid-cols-3 gap-24 md:gap-40">
        <h2 class="h2">Why does {{page.title}} exist?</h2>
        <div class="md:col-span-2 body-text flex flex-col gap-32 pt-20 max-w-[700px]">
          {{ page.why_does_it_exist | markdownify }}
        </div>
      </div>
    {% endif %}
  </section>

  {% if page.hero_image %}
    {% include project-hero.html %}
  {% endif %}

  {% assign news = site.data.news | where: "project", page.slug %}
  {% if news.size > 0 %}
    <section class="container flex flex-col items-start gap-40">
      <h2 class="h2">News</h2>
      <div class="flex flex-col items-start w-full">
        {% for article in news %}
          <div class="body-text w-full py-32 border-t-1 border-black last-of-type:border-b-1 flex grid grid-cols-12 gap-24 relative">
            <!-- format date as 02.12.24 -->
            <span class="label col-span-3">
              <span class="align-middle">{{ article.date | date: "%m/%d/%y" }}</span>
            </span>
            <span class="col-span-6">{% include arrow-link-inline.html label=article.title href=article.url target="_blank"%}</span>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  
  {% if page.who_contributed %}
    <section class="container pb-40">
      <div class="flex flex-col md:grid md:grid-cols-3 gap-24 md:gap-40">
        <h2 class="h2">Project Contributors</h2>

        <div class="slice-body additional-contributors md:col-span-2 md:pt-20 body-text max-w-[750px]">
          {% for name in page.who_contributed %}
            {% assign person = site.data.people[name] %}
            <strong class="name">{{ person.name }}</strong>
            <span class="role">{{ person.role }}</span>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  
</div>
