---
layout: default
custom-css: ['blog-search']
pagination:
  data: collections.categoriesList
  size: 1
  alias: catData
permalink: "{{ catData.href.self }}"
eleventyExcludeFromCollections: true
---

<section class="pt-12 md:pt-18">

  <div class="container flex flex-col gap-12 mb-14">
    {% include "tag-filter.html", current_tag: catData.name %}
    <div class="flex flex-col gap-8 pb-10 border-b border-black">
      <h1 class="page-hero__title">Blog</h1>
      {% include "blog-search.html" %}
    </div>
  </div>

  <div aria-live="assertive" aria-atomic="true" class="sr-only">
    <div id="summary"></div>
  </div>

  <div class="w-full">

    <div id="list" class="container grid grid-cols-2 gap-4 md:gap-6 md:grid-cols-4 post-grids__search-results">
    </div>

    <div class="post-grids__default">
      <div class="container grid grid-cols-2 gap-x-2 gap-y-5 md:gap-y-6 md:gap-x-6 md:grid-cols-4">
        {% assign last_random_number = nil %}
        {% for post in catData.posts %}
          {% assign random_number = 5 | random_number: last_random_number %}
          {% include "post-card.html", post: post, thumb_index: random_number %}
          {% assign last_random_number = random_number %}
        {% endfor %}
      </div>

      {% if catData.totalPages > 1 %}
        {% assign start = catData.pageNumber | times: 12 | plus: 1 %}
        {% assign finish = start | plus: 12 | minus: 1 %}
        {% if finish > catData.totalPosts %}
          {% assign finish = catData.totalPosts %}
        {% endif %}
        <nav aria-label="results list pagination" class="container pt-12 md:pt-15">
          <div class="w-full pt-3.5 md:pt-5 border-t border-black flex items-center justify-between body-text">
            <span>{{ start }}–{{ finish }} of {{ catData.totalPosts }}</span>
            <div class="flex items-center gap-6">
              {% if catData.href.previous %}
                {% include "arrow-link.html", label: "Previous", href: catData.href.previous, arrow: "back" %}
              {% endif %}
              {% if catData.href.next %}
                {% include "arrow-link.html", label: "Next", href: catData.href.next %}
              {% endif %}
            </div>
          </div>
        </nav>
      {% endif %}
    </div>
  </div>

</section>
