---
layout: sectioned-page
title-tag: Blog
slug: blog
pagination:
  enabled: true
custom-css: ['blog']
---

<section class="posts-index">
{% for post in paginator.posts %}
  <div class="sleeve">
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        <h2 class="post-title" itemprop="headline">
          <a href="{{ post.url}} ">{{ post.title }}</a>
        </h2>
        {% include author.html author=post.author guest-author=post.guest-author %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ post.content | liquify | markdownify }}
      </div>

      {% include tags.html tags=post.tags categories=post.categories %}

    </article> <!-- end article -->

  </div>
{% endfor %}

  <!-- Pagination links -->
  <div class="pagination sleeve">
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="small-btn" role="button">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="small-btn" role="button">Next</a>
    {% endif %}
    </div>
  </div>

</section>
