---
title: About Us
slug: about
description: Our mission is to grow knowledge and community by bringing library principles to technological frontiers.
jobs-link-label: View Open Positions
layout: default
---

<section class="container">
  <div class="page-hero">
    <h1 class="page-hero__title">{{ title }}</h1>
    <div class="page-hero__subtitle">{{description}}</div>
  </div>
</section>

<div class="flex flex-col items-start gap-9 md:gap-[72px]">

  <section class="container md:mb-3">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-6 md:gap-10 items-baseline">
      <h2 class="h2 editable">Who We Are</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-6 max-w-[700px] editable">
        <p>We are a team of librarians, technologists, lawyers, designers, and more, and we work out of the Harvard Law School Library.</p>
        <p>We believe that libraries play a fundamental role in humanity as open, privacy-respecting, and sustainable information spaces. We also believe technology holds great power to break down barriers to information creation, preservation, and use.</p>
      </div>
    </div>
  </section>

  <section aria-label="Photo of the Reginald F. Lewis Center at Harvard University">
    <figure>
      <picture>
        <img src="/assets/images/lewis-center-web.jpg"
            alt="Photo of the Reginald F. Lewis Center at Harvard University"
            class="img-full-width aspect-[1/.45] object-cover overflow-hidden">
      </picture>
      <figcaption class="block container text-base py-2">
        <strong class="editable">Credit: Bob O’Connor</strong>
      </figcaption>
    </figure>
  </section>

  <section class="bg-green py-12 md:py-[72px] w-full">
    <div class="container flex flex-col md:grid md:grid-cols-2 gap-8 md:gap-[100px] md:items-center">
      <h2 class="h2 editable">Library principles can manifest in any technology and provide a roadmap to mindful building.</h2>
      <div class="flex flex-col gap-5 md:gap-8 body-text">
        <h3 class="label editable">We strive to cultivate</h3>
        <div class="flex flex-col gap-4 md:gap-6 max-w-[520px] editable">
          <p>Collection, curation, and preservation of knowledge and its provenance</p>
          <p>Equal and private access to knowledge</p>
          <p>Community service, building, and empowerment through knowledge</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container ">
    <h2 id="staff" class="h2 mt-3 mb-12 md:mb-[72px] editable">People at the Lab</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-x-[60px] lg:gap-x-[90px] xl:gap-x-[120px] pb-12 md:pb-[72px]">
      {% assign affiliates = people | values | where: "affiliated", true | sort: "sort_name" %}
      {% assign sections = "Faculty Director, Staff" | split: ", " %}
      {% for section in sections %}
        {% assign border = 'false' %}
        {% if forloop.index0 == 0 %}{% assign border = 'true' %}{% endif %}
        {% assign section_people = affiliates | where: "current", true | where: "section", section %}
        {% if section_people != empty %}
          {% for person in section_people %}
            {% assign tag = 'false' %}
            {% if forloop.index0 == 0 %}{% assign tag = section %}{% endif %}
            {% include "about-people-affiliated.html", person: person, tag: tag, border: border %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="affiliates" class="pt-12 md:pt-[72px] border-t border-black">
      <h2 class="h2 editable">Affiliates</h2>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-x-[60px] lg:gap-x-[90px] xl:gap-x-[120px]">
        {% assign affiliates = people | values | where: "affiliated", true | sort: "sort_name" %}
        {% assign sections = "Affiliates" | split: ", " %}
        {% for section in sections %}
          {% assign affiliated_people = affiliates | where: "current", true | where: "section", section %}
          {% if affiliated_people != empty %}
            {% for person in affiliated_people %}
              {% include "about-people-affiliated.html", person: person %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="w-full bg-purple">
    <div class="container flex items-center justify-between gap-5 py-6">
      <div>
        {% include "header-splash-logo.html" %}
      </div>
      <div>
        {% include "arrow-link.html", label: jobs-link-label, href: "/jobs/" %}
      </div>
      <div class="w-10">
      </div>
    </div>
    <section class="bg-gray pt-12 pb-1.5 tbl:pt-[60px] tbl:pb-6 w-full">
      <div id="past-affiliates" class="container">
        <h2 class="h2 tbl:mt-3 tbl:mb-6 editable">Past Affiliates</h2>
        <div class="flex flex-col items-start w-full">
          {% assign old_friends = affiliates | where: "current", false %}
          {% for person in old_friends %}
            {% include "about-people-unaffiliated.html", person: person %}
          {% endfor %}
        </div>
      </div>
    </section>
  </section>

  <section class="container">
    <h2 class="h2 mt-3 md:mt-0 mb-12 tbl:mb-9 md:mb-[60px] editable">Supported By</h2>
    <p class="body-text mb-12 editable">We gratefully acknowledge support from, and collaboration with, these organizations.</p>
    
    {% include "about-sponsor-group.html", supporters: supporters.institutions %}
    <hr class="w-[200px] mx-auto my-3 border-t-4 border-gray-300">
    {% include "about-sponsor-group.html", supporters: supporters.foundations %}
    <hr class="w-[200px] mx-auto my-3 border-t-4 border-gray-300">
    {% include "about-sponsor-group.html", supporters: supporters.nonprofits %}
    <hr class="w-[200px] mx-auto my-3 border-t-4 border-gray-300">
    {% include "about-sponsor-group.html", supporters: supporters.companies %}
  </section>

</div>
