ErrorDocument 404 /404/index.html

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# don't show directory listings for URLs which map to a directory.
Options -Indexes

# redirect for favicon
Redirect /favicon.ico /assets/images/favicon.png

# redirect legacy urls
Redirect "/fellows" "/collaborate/2016/summer/fellows/"
Redirect "/fellows/fellows-application-2017" "/collaborate/2017/summer/fellows/apply/"
Redirect "/projects/free-the-law" "/projects/case-law-access-project/"
