---
title: Events
slug: events
layout: default
---

<section class="container">
  <div class="page-hero events">
    <h1 class="page-hero__title">{{ title }}</h1>
  </div>
</section>

<div>

  {% assign next_event = collections.eventsSplit.next %}
  {% if next_event %}
    {% if next_event.data.banner %}
      <section aria-label="Event banner" class="container mb-8 tbl:mb-15">
        <div class="w-full relative">
          <figure>
            <a href="{{ next_event.url }}">
              <picture>
                {% if next_event.data.banner_large %}
                <source media="(min-width: 600px)"
                        srcset="/assets/images/events/{{ next_event.data.banner_large }}">
                {% endif %}
                <source srcset="/assets/images/events/{{ next_event.data.banner }}">
                <img src="/assets/images/events/{{ next_event.data.banner }}"
                    alt="Banner for {{ next_event.data.title }}"
                    class="img-full-width">
              </picture>
            </a>
          </figure>
        </div>
      </section>
    {% endif %}
  {% endif %}

  {% assign upcoming_events = collections.eventsSplit.upcoming %}
  {% if upcoming_events.size > 0 %}
    <section class="container mb-9 md:mb-15">
      <h2 class="h2">Upcoming</h2>
      <div class="flex flex-col w-full">

        {% for event in upcoming_events %}
          {% capture linkLabel %}
            <strong>{{ event.data.title }}:</strong> {{ event.data.short_description }}
          {% endcapture %}
          <div class="body-text w-full {% if forloop.first %} py-6 tbl:py-9 {% else %}py-9 {% endif %} border-black {% unless forloop.first %}border-t{% endunless %} {% if forloop.last %}border-b{% endif %} flex flex-col md:grid md:grid-cols-12 gap-2 md:gap-6 relative">
            <span class="label col-span-3">{{ event.date | date: "%m/%d/%y" }}</span>
            <span class="col-span-7">{% include "arrow-link-inline.html", label: linkLabel, href: event.url %}</span>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  {% assign past_events = collections.eventsSplit.past %}
  {% if past_events.size > 0 %}
    <section class="container">
      <h2 class="h2">Past</h2>
      <div class="flex flex-col w-full">
        {% for event in past_events %}
          {% capture linkLabel %}
            <strong>{{ event.data.title }}:</strong> {{ event.data.short_description }}
          {% endcapture %}
          <div class="body-text w-full {% if forloop.first %} pt-6 pb-9 tbl:py-9 {% elsif forloop.last %} pt-6 tbl:pt-9 {% else %} py-6 tbl:py-9 {% endif %}{% unless forloop.first %}border-t {% endunless %} border-black flex flex-col  md:grid md:grid-cols-12 gap-2 md:gap-6 relative">
            <span class="label col-span-3">{{ event.date | date: "%m/%d/%y" }}</span>
            <span class="col-span-7">{% include "arrow-link-inline.html", label: linkLabel, href: event.url %}</span>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</div>
