---
layout: default
title: Library Innovation Lab at Harvard University
title-tag-complete: The Library Innovation Lab at Harvard Law School
description: "Home of Perma.cc, H2O, Caselaw Access Project, and others. The Library Innovation Lab is growing knowledge and community by bringing library principles to technological frontiers."
slug: home
sharing-card-type: summary_large_image
---

<div class="pt-9 pb-8 sm:pt-24 sm:pb-[132px]  md:pt-[156px] md:pb-[228px] max-w-[92%] sm:max-w-[88%] xl:max-w-[1190px] m-auto text-[clamp(52px,8.5vw,120px)] leading-[clamp(52px,8.5vw,120px)] sm:text-center">
  <h1 class="font-medium">Library Innovation Lab at Harvard Law School</h1>
</div>

<div class="bg-black text-white w-full py-12 md:pt-[72px] md:pb-[120px] text-center flex flex-col justify-center items-center gap-5 md:gap-8">
  <div class="font-mono uppercase tracking-[0.08em] text-green text-base md:text-2xl md:leading-normal font-medium">Our Mission</div>
  <div class="text-3xl md:text-[54px] text-balance leading-[120%] max-w-[1200px] mx-3 editable">To grow knowledge and community by bringing <strong>library principles</strong> to <strong>technological frontiers.</strong></div>
</div>

<div class="bg-blue py-8">
  <div class="container flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3 md:gap-6">
    <h2 class="text-sm md:text-lg tracking-[0.08em] uppercase font-medium editable">Follow our latest projects</h2>
    <ul class="flex items-center gap-[60px] text-[24px] leading-[120%]">
      <li>
        {% include "arrow-link.html", label: "Blog", href: "/blog/", reverse: true %}
      </li>
      <li>
        {% include "arrow-link.html", label: "Newsletter", href: "https://ocb.to/lawvocado", target: "_blank", reverse: true %}
      </li>
    </ul>
  </div>
</div>

<div class="container flex flex-col gap-12 md:gap-[100px]">
  <div class="flex flex-col md:grid md:grid-cols-3 gap-7 md:gap-10 mt-9 sm:mt-12 items-baseline">
    <h2 class="h2 editable">Who We Are</h2>
    <div class="md:col-span-2 body-text flex flex-col gap-7 md:gap-12 z-10">
      <div class="flex flex-col gap-5 editable">
        <p>Our team combines librarians, technologists, lawyers, and more to build tools and conduct research that empowers access to our shared knowledge and cultural heritage.</p>
      </div>
      {% include "arrow-link.html", label: "Learn More About Who We Are", href: "/about/", reverse: true %}
    </div>
  </div>
</div>

<div class="flex flex-col gap-12 md:gap-[60px] -mt-3 sm:mt-0 md:-mt-5">
  {% assign featured_projects = collections.our_work | where:"featured",true | sort: "order" %}
  <div class="flex flex-col">
    {% for project in featured_projects %}
      {% capture linkOneLabel %}
        <span class="sr-only">{{ project.data.title }}, Visit</span> Website
      {% endcapture %}
      {% capture linkTwoLabel %}
        <span class="sr-only">{{ project.data.title }},</span> Learn More
      {% endcapture %}
      {% include "project-card.html", featured: true, background: project.data.background_class, title: project.data.title, description: project.data.description, logo: project.data.logo, linkOne: project.data.project_website, linkOneLabel: linkOneLabel, linkTwo: project.url, linkTwoLabel: linkTwoLabel %}
    {% endfor %}
  </div>

  <div class="container flex flex-col gap-12 md:gap-[100px]">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-7 md:gap-12 pb-12 md:pb-[72px] border-b border-black items-baseline">
      <h2 class="h2 editable">Our Work</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-7 md:gap-12">
        <div class="flex flex-col gap-5 editable">
          <p>Platforms like Perma.cc translate the traditional roles of libraries into the digital age. Explorations like WARC-GPT empower practitioners to learn and leverage new technologies in the context of their field.</p>
        </div>
        {% include "arrow-link.html", label: "View All Projects", href: "/our-work/", reverse: true %}
      </div>
    </div>
  </div>
  {% include "contact-section.html", heading: "Contact Us" %}
</div>
