---
title: Our Work
subtitle: We build and explore new technology through the lens of library principles.
slug: projects
description: "Our projects attempt to make something better, simpler, more transparent, or more fun."
custom-footer: true
layout: default
---

<div class="w-full">
  <section class="container">
    <div class="page-hero">
      <h1 class="page-hero__title">{{ page.title }}</h1>
      <h2 class="page-hero__subtitle">{{page.subtitle}}</h2>
    </div>
  </section>

  <section class="container pt-40 pb-40 md:pb-200 md:pt-0 flex flex-col gap-50 md:gap-100">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
      <h2 class="h2">Research</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
        <div class="flex flex-col gap-20 max-w-[700px]">
          <p>Research at LIL is structured around a variety of modes and outcomes, though it all ultimately serves our goal of fusing the library world with new technologies.</p>
          <p>Some of our research is explicitly tied to our ongoing tentpole projects, while other explorations may become larger projects down the line.</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-24 md:gap-40">
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full border-b-1 border-black pb-40 md:pb-32">
        <h3 class="label">AI Explorations</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="./librarianship-of-ai/" class="interactive-link dark reverse">Librarianship of AI</a>
            <a href="{{ site.baseurl }}/blog/2023/09/25/ai-book-bans-freedom-to-read-case-study/" class="interactive-link dark reverse">Banned Books</a>
          </div>
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="{{ site.baseurl }}/blog/2024/02/12/warc-gpt-an-open-source-tool-for-exploring-web-archives-with-ai/" class="interactive-link dark reverse">WARC-GPT</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full border-b-1 border-black pb-40 md:pb-32">
        <h3 class="label">Perma Tools</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="./scoop-capture-engine/" class="interactive-link dark reverse">Scoop Capture Engine</a>
            <a href="./wacz-exhibitor/" class="interactive-link dark reverse">WACZ Exhibitor</a>
          </div>
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="./wacz-signing/" class="interactive-link dark reverse">WACZ Signing</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full">
        <h3 class="label">Upcoming</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="./democratizing-open-knowledge/" class="interactive-link dark reverse">Democratizing Open Knowledge</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-40 md:pb-80">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
      <h2 class="h2">Platforms</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
        <p class="flex flex-col gap-20 max-w-[700px]">
          Tools are the heart of the Library Innovation Lab. We build things. Our platforms each have their own user base and long-term goals.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-18 pb-40 md:pb-140">
    {% assign active_platforms = site.our_work | where:"category","platforms" | where:"retired",false | sort: "order" %}
    {% for platform in active_platforms %}
      {% capture linkOneLabel %}
        <span class="sr-only">{{ platform.title }}, Visit</span> Website
      {% endcapture %}
      {% capture linkTwoLabel %}
        <span class="sr-only">{{ platform.title }},</span> Learn More
      {% endcapture %}
      {% include
        project-card.html
        background=platform.background_class
        title=platform.title
        description=platform.description
        logo=platform.logo
        linkOne=platform.project_website
        linkOneLabel=linkOneLabel
        linkTwo=platform.url
        linkTwoLabel=linkTwoLabel
      %}
    {% endfor %}
  </section>

  <section class="bg-yellow pt-24 md:pt-80 pb-40">
    <div class="container flex flex-col gap-40">
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
        <h2 class="h2">Past Projects</h2>
        <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
          <div class="flex flex-col gap-20 max-w-[700px]">
            <p>At the Library Innovation Lab we are also in pursuit of understanding exploration as a practice.</p>
            <p>While not exhaustive, these are projects we have worked on, tinkered with, and ultimately sunsetted for various reasons.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        {% assign retired_projects_with_pages = site.our_work | where:"retired",true %}
        {% assign retired_projects_without_pages = site.our_work_pageless | where:"retired",true %}
        {% assign retired_projects = retired_projects_with_pages | concat: retired_projects_without_pages | sort: "title" %}
        {% for project in retired_projects %}
          <div class="body-text w-full py-32 border-t-1 border-black first-of-type:border-t-0 last-of-type:border-b-1 flex flex-col  md:grid md:grid-cols-12 gap-8 md:gap-24 relative md:items-center">
            <h3 class="label col-span-3">{{ project.title }}</h3>
            <span class="col-span-6">{{ project.what_does_it_do }}</span>
            {% if project.collection == 'our_work' %}
              {% capture linkLabel %}
                <span class="sr-only">{{ project.title }}, </span>Learn More
              {% endcapture %}
              <span class="col-span-3 flex md:justify-end pt-20 md:pt-0">
                {% include arrow-link.html label=linkLabel href=project.url target=target card_link="true" %}
              </span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
