---
title: Our Work
slug: our-work
subtitle: We build, research, and explore new technology through the lens of library principles.
description: "Our projects attempt to make something better, simpler, more transparent, or more fun."
layout: default
---

<div class="w-full">
  <section class="container">
    <div class="page-hero">
      <h1 class="page-hero__title">{{ title }}</h1>
      <div class="page-hero__subtitle">{{subtitle}}</div>
    </div>
  </section>

  <section class="container flex flex-col gap-6 md:gap-9 pb-18 md:pb-24">
    <h2 class="h2 editable">Research</h2>
    <div class="md:col-span-2 body-text flex flex-col gap-12">
      <p class="flex flex-col gap-5 max-w-175 editable">
        Recent and ongoing explorations in areas relating to access to knowledge, memory, and legal practice.
      </p>
    </div>

    <div class="flex flex-col gap-6 md:gap-12">

      {% assign research = collections.our_work | where:"category","research" | where:"retired",false %}
      {% assign active_research = research | concat: additional_research %}
      {% assign subcategories = active_research | map: 'subcategory' | join: ',' | split: ',' | uniq | sort %}

      {% for category in subcategories %}
        <div class="flex flex-col md:grid md:grid-cols-3 gap-6 md:gap-12 w-full {% if forloop.last == false %} border-b border-black pb-12 md:pb-15{% endif %} items-baseline">
          <h3 class="label {% unless forloop.first %} mt-3 md:mt-0 {% endunless %}">{{ category }}</h3>
          <div class="grid grid-cols-2 gap-9 md:col-span-2">

            {% assign this_research = active_research | where:"subcategory",category | sort: "title" %}

            {% assign is_even_length = this_research.size | is_even %}
            {% if is_even_length %}
              {% assign column_length = this_research.size | divided_by: 2 %}
            {% else %}
              {% assign column_length = this_research.size | divided_by: 2 | plus: 1 %}
            {% endif %}

            {% assign first_half = this_research | slice:0, column_length %}
            {% assign second_half = this_research | slice:column_length, this_research.size %}

            <div class="flex flex-col items-start gap-6 body-text">
              {% for project in first_half %}
                <span><a href="{{ project.url }}" class="interactive-link dark reverse" {% if project.data.no-swup or project.no-swup %}data-no-swup="true"{% endif %}>{% if project.data %}{{ project.data.title }}{% else %}{{ project.title }}{% endif %}</a></span>
              {% endfor %}
            </div>
            <div class="flex flex-col items-start gap-6 body-text">
              {% for project in second_half %}
                <span><a href="{{ project.url }}" class="interactive-link dark reverse">{% if project.data %}{{ project.data.title }}{% else %}{{ project.title }}{% endif %}</a></span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="container pb-9">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-7 md:gap-10 items-baseline">
      <h2 class="h2 editable">Projects</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-12">
        <p class="flex flex-col gap-5 max-w-175">
          <!-- -->
        </p>
      </div>
    </div>
  </section>

  <section aria-label="Projects" class="flex flex-col gap-3 pb-3 tbl:gap-6 tbl:pb-6">
    {% assign active_platforms = collections.our_work | where:"category","platforms" | where:"retired",false | sort: "order" %}
    {% for platform in active_platforms %}
      {% capture linkOneLabel %}
        <span class="sr-only">{{ platform.data.title }}, Visit</span> Website
      {% endcapture %}
      {% capture linkTwoLabel %}
        <span class="sr-only">{{ platform.data.title }},</span> Learn More
      {% endcapture %}
      {% include "project-card.html", background: platform.data.background_class, title: platform.data.title, description: platform.data.description, logo: platform.data.logo, linkOne: platform.data.project_website, linkOneLabel: linkOneLabel, linkTwo: platform.url, linkTwoLabel: linkTwoLabel %}
    {% endfor %}
  </section>

  <section class="bg-yellow pt-12 tbl:pt-18 pb-18 md:pb-24 md:mt-12">
    <div class="container flex flex-col gap-3 md:gap-6">
      <h2 class="h2">Past Projects</h2>
      <div class="flex flex-col">
        {% assign retired_projects_with_pages = collections.our_work | where:"retired",true %}
        {% assign retired_projects_without_pages = collections.our_work_pageless | where:"retired",true %}
        {% assign retired_projects = retired_projects_with_pages | concat: retired_projects_without_pages | sort: "retired_date" | reverse %}
        {% for project in retired_projects %}
          <div class="body-text w-full {% if forloop.last %} pt-6 tbl:pt-9 {% else %} py-6 tbl:py-9 {% endif %} {% unless forloop.first %}border-t {% endunless %} border-black flex flex-col  md:grid md:grid-cols-12 gap-2 tbl:gap-6 relative">
            <h3 class="label col-span-3">{% if project.data %}{{ project.data.title }}{% else %}{{ project.title }}{% endif %}</h3>
            <span class="col-span-6">{% if project.data %}{{ project.data.what_does_it_do }}{% else %}{{ project.what_does_it_do }}{% endif %}</span>
            {% if project.data.tags contains 'our_work' %}
              {% capture linkLabel %}
                <span class="sr-only">{% if project.data %}{{ project.data.title }}{% else %}{{ project.title }}{% endif %}, </span>Learn More
              {% endcapture %}
              <span class="col-span-3 flex md:justify-end">
                {% include "arrow-link-inline.html", label: linkLabel, href: project.url, target: target, card_link: "true" %}
              </span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
