---
title: Projects
slug: projects
description: "Our projects attempt to make something better, simpler, more transparent, or more fun."
custom-footer: true
layout: sectioned-page
---

<section>
  <div class="sleeve">
    <h1>{{ page.title }}</h1>
    <div class="slice">
      <h3>What do we do?</h3>
      <div class="slice-body">
        <p>Projects are the heart of the Library Innovation Lab. We build things. Our projects attempt to make something — big or small — better, simpler, more transparent, or more fun.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sleeve">
    <div class="heading-pair">
      <h2>Active Projects</h2>
      <p>What we’re doing now.</p>
    </div>
    {% include active-project-gallery.html %}
  </div>
</section>

<section class="sunset">
  <div class="sleeve">
    <div class="heading-pair">
      <h2>Former Projects</h2>
      <p>Farewell, sweet friends.</p>
    </div>
    <div class="projects">
      {% for project in site.projects_retired %}
        <div class="project">
          <h3 id="{{ project.slug }}">{{ project.title }}</h3>
          <span>{{ project.what_does_it_do }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
