---
title: Our Work
subtitle: We build and explore new technology through the lens of library principles.
slug: projects
description: "Our projects attempt to make something better, simpler, more transparent, or more fun."
custom-footer: true
layout: sectioned-page
---

<div class="w-full">
  <section class="container">
    <div class="page-hero">
      <h1 class="page-hero__title">{{ page.title }}</h1>
      <h2 class="page-hero__subtitle">{{page.subtitle}}</h2>
    </div>
  </section>

  <section class="container pt-40 pb-40 md:pb-200 md:pt-0 flex flex-col gap-50 md:gap-100">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
      <h2 class="h2">Research</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
        <div class="flex flex-col gap-20 max-w-[700px]">
          <p>Research at LIL is structured around a variety of modes and outcomes, though it all ultimately serves our goal of fusing the library world with new technologies.</p>
          <p>Some of our research is explicitly tied to our ongoing tentpole projects, while other explorations may become larger projects down the line.</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-24 md:gap-40">
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full border-b-1 border-black pb-40 md:pb-32">
        <h3 class="label">AI Explorations</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="/research/librarianship-of-ai/" class="interactive-link dark reverse">Librarianship of AI</a>
            <a href="/blog/2023/09/25/ai-book-bans-freedom-to-read-case-study/" class="interactive-link dark reverse">Banned Books</a>
          </div>
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="/blog/2024/02/12/warc-gpt-an-open-source-tool-for-exploring-web-archives-with-ai/" class="interactive-link dark reverse">WARC-GPT</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full border-b-1 border-black pb-40 md:pb-32">
        <h3 class="label">Perma Tools</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="/research/scoop-capture-engine/" class="interactive-link dark reverse">Scoop Capture Engine</a>
            <a href="/research/wacz-exhibitor/" class="interactive-link dark reverse">WACZ Exhibitor</a>
          </div>
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="/research/wacz-signing/" class="interactive-link dark reverse">WACZ Signing</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40 w-full">
        <h3 class="label">Upcoming</h3>
        <div class="grid grid-cols-2 gap-16 md:gap-24 md:col-span-2 max-w-[900px]">
          <div class="flex flex-col items-start gap-24 body-text">
            <a href="/research/democratizing-open-knowledge/" class="interactive-link dark reverse">Democratizing Open Knowledge</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-40 md:pb-80">
    <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
      <h2 class="h2">Platforms</h2>
      <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
        <p class="flex flex-col gap-20 max-w-[700px]">
          Tools are the heart of the Library Innovation Lab. We build things. Our platforms each have their own user base and long-term goals.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-18 pb-40 md:pb-140">
    {% assign active_projects = site.projects_active | sort: "order" %}
    {% for project in active_projects %}
      {% include
        project-card.html
        background=project.background_class
        title=project.title
        description=project.description
        logo=project.logo
        linkOne=project.project_website
        linkOneLabel="Visit Website"
        linkTwo=project.url
        linkTwoLabel="Learn More"
      %}
    {% endfor %}
  </section>

  <section class="bg-yellow pt-24 md:pt-80 pb-40">
    <div class="container flex flex-col gap-40">
      <div class="flex flex-col md:grid md:grid-cols-3 gap-28 md:gap-40">
        <h2 class="h2">Past Projects</h2>
        <div class="md:col-span-2 body-text flex flex-col gap-50 md:pt-24">
          <div class="flex flex-col gap-20 max-w-[700px]">
            <p>At the Library Innovation Lab we are also in pursuit of understanding exploration as a practice.</p>
            <p>While not exhaustive, these are projects we have worked on, tinkered with, and ultimately sunsetted for various reasons.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        {% for project in site.projects_retired %}
          <div class="body-text w-full py-32 border-t-1 border-black first-of-type:border-t-0 last-of-type:border-b-1 flex flex-col  md:grid md:grid-cols-12 gap-8 md:gap-24 relative md:items-center">
            <h3 class="label col-span-3">{{ project.title }}</h3>
            <span class="col-span-6">{{ project.what_does_it_do }}</span>
            <span class="col-span-3 flex md:justify-end pt-20 md:pt-0">
              {% include arrow-link.html label="Learn More" href=project.url target=target card_link="true" %}
            </span>
          </div>
          <!-- <div class="flex flex-col gap-24 md:grid md:grid-cols-3 py-40 border-t-1 border-black first-of-type:border-t-0">
            <h3 id="{{ project.slug }}" class="label">{{ project.title }}</h3>
            <span class="md:col-span-2 body-text">{{ project.what_does_it_do }}</span>
          </div> -->
        {% endfor %}
      </div>
    </div>
  </section>
</div>
