{% assign person = include.person %}

  <div class="flex flex-col gap-28 relative py-32 md:py-50" id="{{ person.name | slugify }}">
    {% if include.border == 'true' %}
      <div class="hidden md:block absolute md:-right-30 lg:-right-60 -top-10 md:top-0 w-1 h-full bg-black"></div>
    {% endif %}

    {% if include.tag != 'false' %}
      <h3 class="label absolute -top-10 md:top-0 left-0">{{ include.tag }}</h3>
    {% endif %}

    <figure>
      <img class="w-full relative overflow-hidden rounded-full img-full-width" src=" {{ site.baseurl }}/assets/thumbs/432x432c/{{ person.image }}"
           srcset=" {{ site.baseurl }}/assets/thumbs/216x216c/{{ person.image }} 216w,
                    {{ site.baseurl }}/assets/thumbs/432x432c/{{ person.image }} 432w,
                    {{ site.baseurl }}/assets/thumbs/648x648c/{{ person.image }} 648w"
           sizes=" (min-width:1144px) 346px,
                   (min-width:1049px) 30vw,
                   (min-width:640px) 180px,
                    30vw"
           alt="{{ person.name }}">
    </figure>

    <div class="flex flex-col items-start">
      <strong class="text-24 leading-120">{{ person.name }}</strong>
      <span class="text-18 leading-120">{{ person.role }}</span>
    </div>

    <div class="text-16 leading-140">
      {{ person.bio | strip | markdownify }}
    </div>

    {% if person.email or person.website or person.twitter or person.github %}
      <ul class="flex items-center gap-12 md:gap-24">
        {% if person.email %}
          <li><a href="mailto:{{ person.email }}" target="_blank">{% include icon-email.html %}</a></li>
        {% endif %}
        {% if person.website %}
          <li><a href="{{ person.website}}" target="_blank">{% include icon-website.html %}</a></li>
        {% endif %}
        {% if person.twitter_account_name %}
          <li><a href="https://www.twitter.com/{{ person.twitter_account_name}}" target="_blank">{% include icon-x.html %}</a></li>
        {% endif %}
        {% if person.github_account_name %}
          <li><a href="https://www.github.com/{{ person.github_account_name }}" target="_blank">{% include icon-github.html %}</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
