{% if include.author %}
  <p class="post-author">Posted by
  {% for author in include.author %}
    {% assign person_record = site.data.people[author] %}
    {% if forloop.last and forloop.length > 1 %} and {% endif %}
    <a href="{{ site.baseurl }}/about/#{{person_record.name | slugify }}">{{ person_record.name }}</a>{% if forloop.last != true and forloop.length > 2 %},{% endif %}
  {% endfor %}
  </p>
{% elsif include.guest-author %}
  <p class="post-author">Posted by {{ include.guest-author }}</p>
{% endif %}
