<div>
  {% if author %}
    <h2>Author{% if author.size > 1 %}s{% endif %}:</h2>
    <span>
      {% for auth in author %}
        {% assign person_record = people[auth] %}
        {% if forloop.last and forloop.length > 1 %} and {% endif %}
          <a href="/about/#{{person_record.name | slugify }}" class="interactive-link dark reverse">{{ person_record.name }}</a>{% if forloop.last != true and forloop.length > 2 %}, {% endif %}
      {% endfor %}
    </span>
  {% elsif guest-author %}
    <span>{{ guest-author }}</span>
  {% endif %}
</div>
