<lil-search>
  <form role='search' aria-label="blog posts" class="flex items-center gap-2 md:gap-5 md:grid md:grid-cols-2">
    <div class="relative md:col-span-1 flex-1">
      <input id="search" autocomplete="off" type="text" class="peer rounded-[0px] w-full border-1 border-black px-3 py-2 md:px-6 md:py-3 text-base md:text-lg" aria-label="Search for blog posts" placeholder="Search for blog posts" aria-description="search results will appear below" />
      <button type="button" data-clear-button class="peer-placeholder-shown:hidden cursor-pointer absolute top-1/2 right-5 -translate-y-1/2" aria-label="Clear search">
        <span aria-hidden class="block w-4 h-4 relative">
          <span class="block absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-[2px] bg-black rotate-45"></span>
          <span class="block absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-[2px] bg-black -rotate-45"></span>
        </span>
      </button>
    </div>
    <div>
      <button type="submit" class="text-base md:text-lg text-white px-5 py-2 md:px-5 bg-black md:py-3">Search</button>
    </div>
  </form>
</lil-search>
