<footer aria-label="page footer" class="bg-black text-white pt-6 pb-6 sm:pt-15 sm:pb-10 {% unless slug == 'our-work' or slug == 'jobs' %} mt-18 md:mt-24 {% endunless %}">
  <div class="nav-container flex flex-wrap sm:grid sm:grid-cols-12 sm:gap-x-5 sm:gap-y-7">
    <a href="/" class="block relative w-full max-w-40 sm:col-span-4 sm:max-w-85">
      <span class="sr-only">Home</span>
      <span aria-hidden="true">{% include "footer-logo.html" %}</span>
    </a>
    <ul class="footer-nav flex-1 text-right sm:col-span-6 sm:col-start-7 sm:grid sm:grid-cols-2 sm:gap-x-5 sm:gap-y-2.5 text-3xl md:text-[50px] leading-[120%] sm:leading-[100%] font-medium">
      <li>
        <a class="interactive-link" href="/our-work/">Our Work</a>
      </li>
      <li>
        <a class="interactive-link" href="/blog/">Blog</a>
      </li>
      <li>
          <a class="interactive-link" href="/about/">About Us</a>
      </li>
      <li>
          <a class="interactive-link" href="/jobs/">Careers</a>
      </li>
      <li>
        <a class="interactive-link" href="/events/">Events</a>
      </li>
      <li>
          <a class="interactive-link" href="/contact/">Contact</a>
      </li>
    </ul>
    <div class="sm:col-span-12 flex items-center justify-end gap-4 w-full self-end pt-8 pb-10 sm:pt-0 sm:pb-0">
      <a href="{{ site.github_url}}" target="_blank">
        <span class="sr-only">LIL on GitHub</span>
        <span aria-hidden="true">{% include "icon-github.html" %}</span>
      </a>
      <a href="{{ site.bluesky_url }}" target="_blank">
        <span class="sr-only">LIL on Bluesky</span>
        <span aria-hidden="true">{% include "icon-bluesky.html" %}</span>
      </a>
      <a href="{{ site.linkedin_url }}" target="_blank">
        <span class="sr-only">LIL on LinkedIn</span>
        <span aria-hidden="true">{% include "icon-linkedin.html" %}</span>
      </a>
    </div>
    <div class="w-full flex flex-col sm:flex-row sm:items-center sm:justify-between sm:gap-5 pt-6 border-t border-white sm:col-span-12 text-xs sm:text-base">
      <div class="flex flex-col sm:flex-row sm:items-center sm:gap-25">
        <p>&copy; {{ "now" | date: "%Y" }} The President and Fellows of Harvard University</p>
      </div>
      <p><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Accessibility</a></p>
    </div>
  </div>
</footer>
