{% capture footer-file %}
  {% if page.custom-footer %}
    {{ page.slug }}
  {% else %}
    home
  {% endif %}
{% endcapture %}

{% include footer-logo.html %}
<ul>
  <li><a href="{{ site.baseurl }}/">Home</a></li>
  <li><a href="{{ site.baseurl }}/about/">About</a></li>
  <li><a href="{{ site.baseurl }}/jobs/">Jobs</a></li>
  <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
  <li><a href="{{ site.baseurl }}/sketches/">Sketches</a></li>
  <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
  <li><a href="https://ocb.to/lawvocado">Newsletter</a></li>
</ul>
<div class="footer-copyright">
  <p>&copy;2024 The President and Fellows of Harvard University</p>
  <p>The content on this site is covered under a Creative Commons Attribution-ShareAlike 3.0 Unported license unless otherwise noted.</p>
  <p><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Accessibility</a></p>
</div>
