{% if page.slug == "home" %}
    <div class="hiring-announcement">
      <a href="{{ site.baseurl }}/collaborate/">
        We're hiring a web developer!
      </a>
    </div>
  <header id="header-splash">
    <div>
      <figure>
        <img src="{{ site.baseurl }}/assets/images/header-splash-logo-ani@1x.gif"
             srcset="{{ site.baseurl }}/assets/images/header-splash-logo-ani@1x.gif 1x,
                     {{ site.baseurl }}/assets/images/header-splash-logo-ani@2x.gif 2x"
             alt="Library Innovation Lab"
             class="img-full-width">
      </figure>
      <h1 contenteditable="true">{{ page.title }}</h1>
    </div>
    {% include nav.html %}
  </header>
{% else %}
  <header>
    {% include nav.html %}
  </header>
{% endif %}
