<lil-header class="block relative z-header">
  {% if page.slug == "home" %}
    {% include hiring-banner.html title="Software Engineering Manager" %}
  {% endif %}
  <header class="pt-12 md:pt-36 nav-container">
    <div class="flex items-center justify-between">
      <div aria-hidden class="opacity-0 w-[40px] md:w-[56px]"></div>
      <a href="/" class="logo">
        <span class="sr-only">Home</span>
        <span aria-hidden="true">
          {% include header-splash-logo.html %}
        </span>
      </a>
      <button class="menu-button" aria-haspopup="menu" aria-expanded="false" aria-label="Open naviation">
        <span class="menu-button__bar"></span>
        <span class="menu-button__bar"></span>
      </button>
    </div>
    {% include nav.html %}
  </header>
</lil-header>
