<div class="nav-menu">
  <nav aria-label="main" class="nav-menu__inner">
    <ul class="nav-menu__list container">
      <li>
        <a class="interactive-link" href="/our-work/">Our Work</a>
      </li>
      <li>
        <a class="interactive-link" href="/blog/">Blog</a>
      </li>
      <li>
          <a class="interactive-link" href="/about/">About</a>
      </li>
      <li>
          <a class="interactive-link" href="/jobs/">Careers</a>
      </li>
      <li>
        <a class="interactive-link" href="/events/">Events</a>
      </li>
      <li>
          <a class="interactive-link" href="/contact/">Contact</a>
      </li>
    </ul>
    <div class="w-full container nav-menu__socials">
      <div class="border-t-1 border-white flex items-center gap-15 pt-20">
        <a href="{{ site.github_url}}" target="_blank">
          <span class="sr-only">LIL on GitHub</span>
          <span aria-hidden="true">{% include "icon-github.html" %}</span>
        </a>
        <a href="{{ site.bluesky_url }}" target="_blank">
          <span class="sr-only">LIL on Bluesky</span>
          <span aria-hidden="true">{% include "icon-bluesky.html" %}</span>
        </a>
        <a href="{{ site.linkedin_url }}" target="_blank">
          <span class="sr-only">LIL on LinkedIn</span>
          <span aria-hidden="true">{% include "icon-linkedin.html" %}</span>
        </a>
      </div>
    </div>
  </nav>
  <div class="nav-menu__spacer"></div>
</div>
<div aria-hidden="true" class="nav-menu__overlay"></div>
