<nav aria-label="main">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="24px" viewBox="0 0 18 24" version="1.1" class="header-nav-logo"><style>.style0{fill: none;fill-rule: evenodd;}.style1{fill:  #333333;}.style2{fill:  #D9D9D9;}</style><title>nav-logo</title><desc>Created with Sketch.</desc><defs/><g class="style0"><g transform="translate(-17.000000, -265.000000)"><g transform="translate(-111.000000, 252.000000)"><g transform="translate(127.650000, 12.690000)"><g><path d="M0.3 6.3 L0.3 24.3 L11.3 24.3 L11.3 18.3 L6.3 18.3 L6.3 0.3 L0.3 6.3 Z" class="style1"/><path d="M18.4 18.3 L18.4 0.3 L7.3 0.3 L7.3 6.3 L12.3 6.3 L12.3 24.3 L18.4 18.3 Z" class="style2"/></g></g></g></g></g></svg>
        <span class="name"><span class="longname">Library Innovation </span>Lab</span>
      </a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/about/">About</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/collaborate/">Collaborate</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/projects/">Projects</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/sketches/">Sketches</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
  </ul>
</nav>
