{% assign content_parts = post.content | split: '<img' %}
{% assign first_img_src = '' %}
{% if content_parts.size > 1 %}
  {% assign first_img_part = content_parts[1] | split: '>' %}
  {% assign img_tag = '<img' | append: first_img_part[0] | append: '>' %}
  {% assign src_part = img_tag | split: 'src="' %}
  {% if src_part.size > 1 %}
    {% assign src_end = src_part[1] | split: '"' %}
    {% assign first_img_src = src_end[0] %}
  {% endif %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="flex flex-col gap-14 relative">
  <header class="aspect-square w-full bg-gray relative">
    {% if first_img_src != '' %}
      <img src="{{ first_img_src }}" class="w-full h-full object-cover absolute inset-0" alt="{{ post.title }}" />
    {% else if include.post.thumbnail %}
      <img src="{{ include.post.thumbnail }}" class="w-full h-full object-cover absolute inset-0" alt="{{ post.title }}" />
    {% else %}
      <img src="/assets/images/blog-thumbnail-{{ include.thumb_index }}.png" class="w-full h-full object-cover absolute inset-0" alt="{{ post.title }}" />
    {% endif %}
  </header>
  <div class="flex flex-col gap-8">
    <h2 class="text-16 md:text-18 leading-120 font-medium" itemprop="headline">
      <a href="{{ include.post.url}}" class="card-link">{{ include.post.title | smartify }}</a>
    </h2>
    <time class="text-16 md:text-18 leading-100" datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: "%B %-d, %Y" }}</time>
  </div>
</article>