<div class="project-hero">
  <figure>
    <picture>
      <!-- 16:9 for wide widths -->
      <source
        media="(min-width: 600px)"
        srcset="/assets/thumbs/800x450r/{{ hero_image | strip }} 800w,
                /assets/thumbs/1200x675r/{{ hero_image | strip }} 1200w,
                /assets/thumbs/1600x900r/{{ hero_image | strip }} 1600w,
                /assets/thumbs/2100x1000r/{{ hero_image | strip }} 2100w"
        sizes="100vw">

      <!-- square for narrow widths -->
      <source srcset="/assets/thumbs/400x400r/{{ hero_image_square | strip }} 1x,
                      /assets/thumbs/800x800r/{{ hero_image_square | strip }} 2x">
      <img src="/assets/thumbs/400x400r/{{ hero_image_square | strip }}"
          alt=""
          class="img-full-width">
    </picture>
    {% if hero_caption %}
    <figcaption class="block container text-16 py-8">
      <strong>{{ hero_caption | strip | markdownify_inline }}</strong>
    </figcaption>
    {% endif %}
  </figure>
</div>
