{% capture sharing-image %}
  {% if page.type == "project" %}
    thumbs/400x300r/{{ page.thumbnail_image | strip }}
  {% elsif page.type == "sketch" %}
    thumbs/432x432r/{{ page.sketch_thumbnail_image | strip }}
  {% elsif page.sharing-image %}
    {{ page.sharing-image }}
  {% else %}
    {{ site.sharing-image }}
  {% endif %}
{% endcapture %}

{% capture sharing-description %}
  {% if page.sharing-description %}
    {{ page.sharing-description }}
  {% elsif page.type == "project" or page.type == "sketch" %}
      {{ page.what_does_it_do }}
  {% elsif page.description %}
    {{ page.description }}
  {% elsif page.excerpt %}
    {{ page.excerpt | strip_html | strip_newlines | escape_once | truncate: 160 }}
  {% else %}
    {{ site.description }}
  {% endif %}
{% endcapture %}

{% capture sharing-title %}
  {% if page.title-tag-complete %}
    {{ page.title-tag-complete }}
  {% elsif page.title-tag %}
    {{ page.title-tag | append: " | Library Innovation Lab" }}
  {% elsif page.title %}
    {{ page.title | append: " | Library Innovation Lab" }}
  {% else %}
    {{ site.title }}
  {% endif %}
{% endcapture %}

<meta name="twitter:card" content="{{ page.sharing-card-type }}">
<meta name="twitter:site" content="@{{ site.twitter_account_name }}">
<meta name="twitter:title" content="{{ sharing-title | strip }}">
<meta name="twitter:description" content="{{ sharing-description | strip }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/{{ sharing-image | strip }}?cache-buster=1">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
<meta property="og:title" content="{{ sharing-title | strip}}">
<meta property="og:description" content="{{ sharing-description | strip }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/{{ sharing-image | strip }}?cache-buster=1">
