{% assign current = current_tag | default: 'all' %}

{% if site.show_blog_featured_tags %}

<div>
  <nav aria-label="Featured Tags">
    <ul class="flex flex-wrap flex-col sm:flex-row gap-10 mt-12 sm:mt-0">
      {% for tag in featured_tags %}
        {% assign isActive = false  %}
        {% if current == tag %}
          {% assign isActive = true %}
        {% endif %}
        {% for includedTag in tags %}
          {% if tag == includedTag %}
            {% assign isActive = true %}
          {% endif %}
        {% endfor %}
        <li>
          <a
            class="block text-14 tbl:text-16 px-10 py-6 tbl:px-24 tbl:py-12 border-1 border-black text-black active:text-white active:bg-black tbl:hover:text-white md:hover:bg-black transition-colors duration-300 ease {% if isActive %}bg-black text-white{% endif %}"
            href="{% if current == tag %}{{ site.baseurl }}/blog{% else %}{{ site.baseurl }}/blog/tag/{{ tag | slugify}}/{% endif %}"{% if current == tag %} aria-current="true"{% endif %}
            data-no-swup
          >
          {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>

{% endif %}
