{% assign current = current_tag | default: 'all' %}
{% assign current_slug = current | slugify %}

{% if site.show_blog_featured_tags %}

<div>
  <nav aria-label="Featured Tags">
    <ul class="flex flex-wrap flex-col sm:flex-row gap-2.5 mt-3 sm:mt-0">
      {% for tag in featured_tags %}
        {% assign tag_slug = tag | slugify %}
        {% assign isActive = false  %}
        {% if current_slug == tag_slug %}
          {% assign isActive = true %}
        {% endif %}
        {% for includedTag in tags %}
          {% assign included_slug = includedTag | slugify %}
          {% if tag_slug == included_slug %}
            {% assign isActive = true %}
          {% endif %}
        {% endfor %}
        <li>
          <a
            class="block text-sm tbl:text-base px-2.5 py-1.5 tbl:px-6 tbl:py-3 border-1 border-black text-black active:text-white active:bg-black tbl:hover:text-white md:hover:bg-black transition-colors duration-300 ease {% if isActive %}bg-black text-white{% endif %}"
            href="{% if current_slug == tag_slug %}/blog{% else %}/blog/tag/{{ tag_slug }}/{% endif %}"{% if current_slug == tag_slug %} aria-current="true"{% endif %}
            data-no-swup
          >
          {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>

{% endif %}
