---
---

@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('../fonts/NeueHaasGroteskDisplayPro55Roman.woff2') format('woff2'), url('..fonts/NeueHaasGroteskDisplayPro55Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('../fonts/NeueHaasGroteskDisplayPro56Italic.woff2') format('woff2'), url('..fonts/NeueHaasGroteskDisplayPro56Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('../fonts/NeueHaasGroteskDisplayPro65Medium.woff2') format('woff2'), url('..fonts/NeueHaasGroteskDisplayPro65Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 500;
}

.container {
  padding-inline: 40px;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-inline: 20px;
  }
}

.menu-button {
  width: 56px;
  height: 56px;
  position: relative;
  z-index: 10;
  display: block;
}

.menu-button__bar {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(calc(50% + 8px)) rotate(0deg);
  @apply bg-black;
  height: 4px;
  left: 0;
  transition: background-color 300ms ease 400ms, transform 300ms ease;
}

.menu-button__bar:nth-child(2) {
  transform: translateY(calc(50% - 8px));
}

lil-header.expanded .menu-button .menu-button__bar {
  transform: translateY(50%) rotate(45deg);
  background-color: white;
  transition: background-color 300ms ease 300ms, transform 300ms ease;
}

lil-header.expanded .menu-button .menu-button__bar:nth-child(2) {
  transform: translateY(50%) rotate(-45deg);
}

lil-header svg {
  transition: color 300ms ease;
  transition-delay: 400ms;
  color: #121212;
}

lil-header.expanded svg {
  color: white;
  transition: color 300ms ease;
  transition-delay: 300ms;
}

.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  @apply bg-black;
  @apply text-white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: end;
  padding-block: 40px;
  clip-path: inset(0% 0% 100% 0%);
}

.nav-menu__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  font-size: 90px;
  line-height: 90px;
  font-weight: 500;
}

.nav-menu__overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease 300ms, visibility 500ms ease 300ms;
}

lil-header.expanded .nav-menu__overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms ease 300ms, visibility 500ms ease 300ms;
}

.interactive-link {
  position: relative;
}

.interactive-link:after {
  content: "\00a0";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: .1ch;
  background-color: white;
  transform: scaleX(0);
  transition: transform 350ms ease;
  transform-origin: 100% 100%;
}

.interactive-link:hover:after, a:hover .interactive-link:after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 350ms ease;
}

.interactive-link.dark:after {
  @apply bg-black;
}

.interactive-link.reverse:after {
  transform: scaleX(1);
  transform-origin: 0 0;
}

.interactive-link.reverse:hover:after, a:hover .interactive-link.reverse:after {
  transform: scaleX(0);
  transform-origin: 100% 100%;
}

.label-value {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

.label, .page-hero__eyebrow {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.label-value .value {
  font-size: 24px;
  line-height: 115%;
}

.page-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid #121212;
  margin-bottom: 80px;
  padding-top: 120px;
}

.page-hero__title {
  font-size: clamp(64px, 12vw, 140px);
  font-weight: 500;
  line-height: 100%;
  padding-bottom: 12px;
}

.page-hero__subtitle {
  font-size: 48px;
  line-height: 120%;
  max-width: 950px;
}

.page-hero.simple {
  margin-bottom: 0;
  padding-bottom: 80px;
  border-bottom: 0;
}

.page-hero.simple .page-hero__subtitle {
  max-width: 980px;
}

.body-text, .expandable__content {
  font-size: 24px;
  line-height: 120%;
}

.h1 {
  font-size: clamp(64px, 12vw, 140px);
  font-weight: 500;
  line-height: 100%;
}

.h2 {
  font-size: 50px;
  line-height: 115%;
  font-weight: 500;
}

.card-link:after {
  content: "\00a0";
  position: absolute;
  z-index: 5;
  inset: 0;
  width: 100%;
  height: 100%;
}

.expandable {
  border-bottom: 1px solid #121212;
  display: block;
}

.expandable:last-of-type {
  border-bottom: 0;
}

.expandable__toggle {
  padding-block: 30px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandable__toggle--title {
  max-width: 450px;
  text-align: left;
}

.expandable__icon {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1.5px solid #121212;
  position: relative;
  transition: transform 300ms ease;
}

.expandable__icon div {
  width: 18px;
  height: 1.5px;
  background: #121212;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease;
}

.expandable__icon div:nth-child(1) {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: transform 300ms ease;
}

.expandable__toggle:hover .expandable__icon {
  transform: rotate(90deg);
  transition: transform 300ms ease;
}

.expandable.expanded .expandable__icon {
  transform: rotate(90deg);
  transition: transform 300ms ease;
}

.expandable.expanded .expandable__icon div:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: transform 300ms ease;
}

.expandable__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.expandable__content--inner {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .page-hero {
    padding-bottom: 40px;
    margin-bottom: 40px;
    padding-top: 60px;
  }
  
  .page-hero__subtitle {
    font-size: 28px;
  }

  .body-text, .expandable__content {
    font-size: 18px;
  }

  .h2 {
    font-size: 28px;
  }
}

@media (prefers-reduced-motion) {
  *, *:after, *:before {
    transition: none !important;
  }
}

html.is-changing .transition-main {
  transition: opacity 350ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}