.post-content p:not(:has(img)) {
  padding-bottom: 20px;
}

.post-content hr {
  margin-bottom: 32px;
  margin-top: 12px;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-size: initial;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 500;
}

.post-content h1 {
  font-size: 2em;
}
.post-content h2 {
  font-size: 1.5em;
}
.post-content h3 {
  font-size: 1.3em;
}
.post-content h4 {
  font-size: 1em;
}
.post-content h5 {
  font-size: 0.8em;
}
.post-content h6 {
  font-size: 0.7em;
}

.post-content img {
  margin-top: 20px;
  margin-bottom: 40px;
}

.post-content iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
  margin: 0;
  padding: 0;
}

.post-content figure {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-content figcaption {
  font-size: 18px;
}

.post-content a {
  position: relative;
}

.post-content ul, .post-content ol {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.post-content ul {
  list-style: disc;
  padding-left: 20px;
}

.post-content ol {
  list-style: decimal;
  padding-left: 20px;
}

.post-content a:after {
  content: "\00a0";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: .1ch;
  background-color: #121212;
  transform: scaleX(1);
  transition: transform 350ms ease;
  transform-origin: 0 0;
}

.post-content a:hover:after {
  transform: scaleX(0);
  transform-origin: 100% 100%;
}
