---
---

////////////////////////////////////////////////////////////////
//  workshop

@font-face {
  font-family: 'Montserrat-Regular';
  src:  url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src:  url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: 'Montserrat-Regular', 'Helvetica', sans-serif;
}

section, .container {
  background-color: #6fc7b4;
}

.pink-background {
  background-color: white;
}

.workshop footer { background-color: #e8a9cc; }

