---
title: Careers
slug: jobs
layout: default
---

<section class="container">
  <div class="page-hero simple">
    <h1 class="page-hero__title">{{ page.title }}</h1>
    <div class="page-hero__subtitle">
      Joining our team means standing at the intersection of law, librarianship, and technology within an academic context. We offer a low pressure, self-directed environment with lots of room to explore, learn, collaborate, and teach.
    </div>
  </div>
</section>

<div class="flex flex-col gap-50 md:gap-80">
  <section>
    <figure>
      <picture>
        <img src="{{ site.baseurl }}/assets/images/lewis-center-careers.png"
            alt=""
            class="img-full-width aspect-[1/.45] object-cover overflow-hidden">
      </picture>
      <figcaption class="block container text-16 py-8">
        <strong>Credit: Bob O’Connor</strong>
      </figcaption>
    </figure>
  </section>

  <section class="container flex flex-col gap-24 md:gap-40">
    <h2 class="h2">Background</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
      {% assign background_sections = site.jobs | where:"category","background" | sort: "order" %}
        {% for section in background_sections %}
          {% include job.html title=section.title content=section.content %}
        {% endfor %}
      </div>
    </div>
  </section>

  {% assign staff_sections = site.jobs | where:"category","staff" | sort: "order" %}
  {% if staff_sections.size > 0 %}
  <section class="container flex flex-col gap-24 md:gap-40">
    <h2 class="h2">Staff Positions</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
        {% for section in staff_sections %}
          {% include job.html title=section.title content=section.content %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% assign research_sections = site.jobs | where:"category","research" | sort: "order" %}
  {% if research_sections.size > 0 %}
  <section class="container flex flex-col gap-24 md:gap-40">
    <h2 class="h2">Research Positions</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
        {% for section in research_sections %}
          {% include job.html title=section.title content=section.content %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</div>
