---
title: Careers
slug: jobs
layout: default
---

<section class="container">
  <div class="page-hero simple">
    <h1 class="page-hero__title">{{ title }}</h1>
    <div class="page-hero__subtitle editable">
      Joining our team means standing at the intersection of law, librarianship, and technology within an academic context. We offer a low-pressure, self-directed environment with lots of room to explore, learn, collaborate, and teach.
    </div>
  </div>
</section>

<div class="flex flex-col gap-12 md:gap-20">
  <section aria-label="Photo of the Reginald F. Lewis Center at Harvard University">
    <figure>
      <picture>
        <img src="/assets/images/lewis-center-careers.jpg"
            alt="Photo of the Reginald F. Lewis Center at Harvard University"
            class="img-full-width aspect-[1/.45] object-cover overflow-hidden">
      </picture>
      <figcaption class="block container text-base py-2">
        <strong class="editable">Credit: Bob O’Connor</strong>
      </figcaption>
    </figure>
  </section>

  <section class="container flex flex-col gap-6 md:gap-10{% if collections.jobs.size == 0 %} pb-16{% endif %}">
    <h2 class="h2 editable">Background</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
      {% assign background_sections = collections.jobs | where:"data.category","background" | sort: "data.order" %}
        {% for section in background_sections %}
          {% include "job.html", title: section.data.title, job_content: section.content %}
        {% endfor %}
      </div>
    </div>
  </section>

  {% assign staff_sections = collections.jobs | where:"data.category","staff" | sort: "data.order" %}
  {% assign research_sections = collections.jobs | where:"data.category","research" | sort: "data.order" %}

  {% if staff_sections.size > 0 %}
  <section class="container flex flex-col gap-6 md:gap-10{% if research_sections.size == 0 %} pb-16{% endif %}">
    <h2 class="h2 editable">Staff Positions</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
        {% for section in staff_sections %}
          {% include "job.html", title: section.data.title, job_content: section.content %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if research_sections.size > 0 %}
  <section class="container flex flex-col gap-6 md:gap-10 pb-16">
    <h2 class="h2 editable">Research Positions</h2>
    <div class="md:grid md:grid-cols-12">
      <div class="w-full md:col-span-9 md:col-start-4">
        {% for section in research_sections %}
          {% include "job.html", title: section.data.title, job_content: section.content %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</div>
